@keyframes scrollRight {
    from { background-position: -200px 0; }
    to { background-position: 0 0; }
}

@keyframes scrollLeft {
    from { background-position: 0 -200px; }
    to { background-position: 0 0; }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
		margin: 30px;
    border-collapse: collapse;
    border-style: hidden;
    width: 600px;
    height: 600px;
}

table td {
    border: 10px solid #0da192;
		border-radius: 5px;
}

.main-container {
    background-color: #f8f8f8;
    width: 1000px;
    height: 1000px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #888888;
}

.board-container {
    background-color: #14bdac;
    display: flex;
    justify-content: center;
}

.cell {
    width: 150px;
    height: 150px;
    background-size: cover;

}

.cell.empty {
    background-color: transparent;
}

.cell.crosses {
    background-color: transparent;
    background-repeat: repeat-x;
    background-image:url("https://cdn.pixabay.com/photo/2014/09/26/10/45/delete-462216_640.png");

    background-position: 0px 0px;
    background-repeat: space;
    animation: scrollRight 0.7s;
}

.cell.noughts {
    background-color: transparent;
    background-image:url("http://www.emoji.co.uk/files/microsoft-emojis/symbols-windows10/10295-medium-white-circle.png");

    background-position: 0px 0px;
    background-repeat: space;
    animation: scrollLeft 0.7s;
}

.turn-display {
  width: 50px;
  height: 25px;
  background-color: grey;
}

.turn-current {
  background-color: blue;
}
