@keyframes appear {
    from { transform: scale(0.7,0.7); }
    to { transform: scale(1,1); }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

table {
		margin: 30px;
    border-collapse: collapse;
    border-style: hidden;
    width: 600px;
    height: 600px;
}

table td {
    border: 10px solid #c25a30;
		border-radius: 5px;
}

select {
    text-align: center;
    border: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 1.2em;
    color: grey;
		margin: 0px 10px;
}

button {
    border: 0;
    background-color: transparent;
    font-size: 1.2em;
    color: grey;
}

button:hover, select:hover {
    transition: color 0.3s;
    color: black;
}

button:focus, select:focus {
    outline: none;
}

.main-container {
    background-color: #f2f2f2;
    width: 1000px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #888888;
}

.new-game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
		padding: 40px;
}

.board-container {
    background-color: #e16938;
    display: flex;
    justify-content: center;
}

.turn-container {
    display: flex;
    justify-content: space-around;
}

.cell {
    width: 150px;
    height: 150px;
    background-size: cover;
}

.cell.empty {
    background-color: transparent;
}

.cell.crosses {
    background-color: transparent;
    background-repeat: repeat-x;
    background-image:url("https://cdn.pixabay.com/photo/2014/09/26/10/45/delete-462216_640.png");

    background-position: 0px 0px;
    background-repeat: space;
    animation: appear 0.5s;
}

.cell.noughts {
    background-color: transparent;
    background-image:url("http://www.emoji.co.uk/files/microsoft-emojis/symbols-windows10/10295-medium-white-circle.png");

    background-position: 0px 0px;
    background-repeat: space;
    animation: appear 0.5s;
}

.turn-display {
    width: 80px;
    height: 80px;
		margin: 50px;
    background-color: transparent;
    background-size: cover;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.outcome-box {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
    font-size: 2.5em;
    color: grey;
}

.outcome-message {
    animation: appear 0.5s;
}

.turn-current {
    background-color: #c25a30;
    box-shadow: 0 0 10px 15px #c25a30;
    border-radius: 10px;
}

#turn-crosses {
    background-image:url("https://cdn.pixabay.com/photo/2014/09/26/10/45/delete-462216_640.png");
}

#turn-noughts {
    background-image:url("http://www.emoji.co.uk/files/microsoft-emojis/symbols-windows10/10295-medium-white-circle.png");
}
